## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [12]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
Vacation_df = pd.read_csv("WeatherPy_vacation.csv")
Vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Lengshuitan,CN,76.53,overcast clouds,26.4111,111.5956,Jialong Hotel
1,10,Georgetown,MY,82.33,thunderstorm,5.4112,100.3354,Cititel Penang
2,16,Rubiataba,BR,73.58,overcast clouds,-15.1644,-49.8033,Pousada dos anjos
3,23,Atuona,PF,78.01,overcast clouds,-9.8000,-139.0333,Villa Enata
4,25,Upata,VE,74.23,overcast clouds,8.0086,-62.3989,Posada Villa Nela

In [48]:
Vacation_df['Lat'][0], Vacation_df["Lng"][0]

(26.4111, 111.5956)

In [19]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in Vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = Vacation_df[["Lat", "Lng"]]

In [20]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
Vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,5,Lengshuitan,CN,76.53,overcast clouds,26.4111,111.5956,Jialong Hotel
1,10,Georgetown,MY,82.33,thunderstorm,5.4112,100.3354,Cititel Penang
2,16,Rubiataba,BR,73.58,overcast clouds,-15.1644,-49.8033,Pousada dos anjos
3,23,Atuona,PF,78.01,overcast clouds,-9.8000,-139.0333,Villa Enata
4,25,Upata,VE,74.23,overcast clouds,8.0086,-62.3989,Posada Villa Nela
...,...,...,...,...,...,...,...,...
240,671,Carupano,VE,81.01,overcast clouds,10.6678,-63.2585,Hotel La dorada
241,674,Tutoia,BR,84.81,broken clouds,-2.7619,-42.2744,Pousada GuarÃ¡'s
242,675,Mastung,PK,73.33,clear sky,29.7994,66.8450,Al Hasnan Cold Drink Santer
243,676,Abha,SA,75.02,few clouds,18.2164,42.5053,Abha Hotel
244,677,Domoni,KM,82.09,overcast clouds,-12.2569,44.5319,Al Djadid

In [67]:
Vacation_df.loc[Vacation_df['City'] == "Mastung"]

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
242,675,Mastung,PK,73.33,clear sky,29.7994,66.845,Al Hasnan Cold Drink Santer

In [72]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.
vacation_start = Vacation_df.loc[Vacation_df["City"] == "Georgetown"]
vacation_end = Vacation_df.loc[Vacation_df["City"] == "Georgetown"]
vacation_stop1 = Vacation_df.loc[Vacation_df["City"] == "Domoni"]
vacation_stop2 = Vacation_df.loc[Vacation_df["City"] == "Mastung"]
vacation_stop3 = Vacation_df.loc[Vacation_df["City"] == "Tutoia"]

In [73]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
#start = 
#end = 
#stop1 = 
#stop2 = 
#stop3 = 
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [74]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
directions_layer = gmaps.directions_layer(
    start,
    end,
    waypoints = [stop1, stop2, stop3],
    travel_mode = 'DRIVING')
fig.add_layer(directions_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [76]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
# itinerary_df = pd.concat([],ignore_index=True)
# itinerary_df

itinerary_df = pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,Georgetown,MY,82.33,thunderstorm,5.4112,100.3354,Cititel Penang
1,10,Georgetown,MY,82.33,thunderstorm,5.4112,100.3354,Cititel Penang
2,677,Domoni,KM,82.09,overcast clouds,-12.2569,44.5319,Al Djadid
3,675,Mastung,PK,73.33,clear sky,29.7994,66.8450,Al Hasnan Cold Drink Santer
4,674,Tutoia,BR,84.81,broken clouds,-2.7619,-42.2744,Pousada GuarÃ¡'s

In [77]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt>{Current Description} and {Max Temp} Â°F</dd>
</dl
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [78]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))