## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint George,US,37.1041,-113.5841,37.99,48,0,3.44,clear sky
1,1,Chuy,UY,-33.6971,-53.4616,67.17,60,91,4.34,overcast clouds
2,2,Ribeira Grande,PT,38.5167,-28.7000,59.40,51,40,9.22,scattered clouds
3,3,Severo-Kurilsk,RU,50.6789,156.1250,28.51,89,97,5.55,overcast clouds
4,4,Albany,US,42.6001,-73.9662,21.76,62,22,3.00,few clouds
5,5,Lengshuitan,CN,26.4111,111.5956,76.53,67,87,5.88,overcast clouds
6,6,Huilong,CN,31.8111,121.6550,57.92,97,99,9.04,overcast clouds
7,7,Kalanguy,RU,51.0167,116.5167,3.54,95,79,4.36,broken clouds
8,8,Ust-Omchug,RU,61.1500,149.6333,-7.53,99,100,2.53,overcast clouds
9,9,Lompoc,US,34.6391,-120.4579,45.93,87,100,21.99,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria As learned in section 6.5.3
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method. as learned in Section 6.5.3
#preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Lengshuitan,CN,26.4111,111.5956,76.53,67,87,5.88,overcast clouds
10,10,Georgetown,MY,5.4112,100.3354,82.33,88,40,4.61,thunderstorm
16,16,Rubiataba,BR,-15.1644,-49.8033,73.58,85,98,3.02,overcast clouds
23,23,Atuona,PF,-9.8000,-139.0333,78.01,74,100,15.01,overcast clouds
25,25,Upata,VE,8.0086,-62.3989,74.23,77,100,7.65,overcast clouds
26,26,Mahebourg,MU,-20.4081,57.7000,77.29,88,100,9.22,light rain
31,31,Hambantota,LK,6.1241,81.1185,89.94,66,40,6.91,scattered clouds
35,35,Puerto Ayora,EC,-0.7393,-90.3518,75.54,98,10,0.56,clear sky
36,36,East London,ZA,-33.0153,27.9116,72.54,83,0,13.80,clear sky
39,39,Butaritari,KI,3.0707,172.7902,81.27,77,6,20.47,clear sky

In [5]:
# 4a. Determine if there are any empty rows as learned in section 6.5.3.
preferred_cities_df.count()

City_ID                245
City                   245
Country                239
Lat                    245
Lng                    245
Max Temp               245
Humidity               245
Cloudiness             245
Wind Speed             245
Current Description    245
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_travel_cities = preferred_cities_df.dropna()
clean_travel_cities.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Lengshuitan,CN,26.4111,111.5956,76.53,67,87,5.88,overcast clouds
10,10,Georgetown,MY,5.4112,100.3354,82.33,88,40,4.61,thunderstorm
16,16,Rubiataba,BR,-15.1644,-49.8033,73.58,85,98,3.02,overcast clouds
23,23,Atuona,PF,-9.8000,-139.0333,78.01,74,100,15.01,overcast clouds
25,25,Upata,VE,8.0086,-62.3989,74.23,77,100,7.65,overcast clouds
26,26,Mahebourg,MU,-20.4081,57.7000,77.29,88,100,9.22,light rain
31,31,Hambantota,LK,6.1241,81.1185,89.94,66,40,6.91,scattered clouds
35,35,Puerto Ayora,EC,-0.7393,-90.3518,75.54,98,10,0.56,clear sky
36,36,East London,ZA,-33.0153,27.9116,72.54,83,0,13.80,clear sky
39,39,Butaritari,KI,3.0707,172.7902,81.27,77,6,20.47,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Lengshuitan,CN,76.53,overcast clouds,26.4111,111.5956,
10,Georgetown,MY,82.33,thunderstorm,5.4112,100.3354,
16,Rubiataba,BR,73.58,overcast clouds,-15.1644,-49.8033,
23,Atuona,PF,78.01,overcast clouds,-9.8000,-139.0333,
25,Upata,VE,74.23,overcast clouds,8.0086,-62.3989,
26,Mahebourg,MU,77.29,light rain,-20.4081,57.7000,
31,Hambantota,LK,89.94,scattered clouds,6.1241,81.1185,
35,Puerto Ayora,EC,75.54,clear sky,-0.7393,-90.3518,
36,East London,ZA,72.54,clear sky,-33.0153,27.9116,
39,Butaritari,KI,81.27,clear sky,3.0707,172.7902,

In [8]:
clean_travel_cities.columns

Index(['City_ID', 'City', 'Country', 'Lat', 'Lng', 'Max Temp', 'Humidity',
       'Cloudiness', 'Wind Speed', 'Current Description'],
      dtype='object')

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
     # 6c. Get latitude and longitude from DataFrame
        lat = row["Lat"]
        lng = row["Lng"]
       
    # Add the latitude and longitude to location key for the params dictionary.
        params["location"] = f"{lat},{lng}"
  
   
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
        base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
        hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
        try:
            hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        except (IndexError):
            print("Hotel not found... skipping.")

# Indicate that Data Loading is complete.
print("-----------------------------")
print("Data Retrieval Complete      ")
print("-----------------------------")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
-----------------------------
Data Retrieval Complete
-----------------------------

In [10]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna().count()

City                   239
Country                239
Max Temp               239
Current Description    239
Lat                    239
Lng                    239
Hotel Name             239
dtype: int64

In [11]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Lengshuitan,CN,76.53,overcast clouds,26.4111,111.5956,Jialong Hotel
10,Georgetown,MY,82.33,thunderstorm,5.4112,100.3354,Cititel Penang
16,Rubiataba,BR,73.58,overcast clouds,-15.1644,-49.8033,Pousada dos anjos
23,Atuona,PF,78.01,overcast clouds,-9.8000,-139.0333,Villa Enata
25,Upata,VE,74.23,overcast clouds,8.0086,-62.3989,Posada Villa Nela
26,Mahebourg,MU,77.29,light rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
31,Hambantota,LK,89.94,scattered clouds,6.1241,81.1185,Bungalow 63
35,Puerto Ayora,EC,75.54,clear sky,-0.7393,-90.3518,Finch Bay Galapagos Hotel
36,East London,ZA,72.54,clear sky,-33.0153,27.9116,Tu Casa
39,Butaritari,KI,81.27,clear sky,3.0707,172.7902,Isles Sunset Lodge

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [14]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))